.container__big-card{
  
    width: 400px;
    height: 500px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.big-card__photo > img {
    width: 100%;
    min-width: 400px;
}

.big-card__title{
    margin: 15px 0px;
}

.big-card__title > h1{
    font-size: 20px;
}

.big-card__description{
    margin: 5px 0px;
}

.big-card__description > p > a{
    color: darkgray;
}

