.container__smal-card{
    width: 700px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.container__smal-card-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.small-card__photo > img{
    width: 200px;
    min-width: 200px;
}

.small-card__title > h1{
    font-size: 24px;
}

.container__smal-card-separator{
    margin-top: 10px ;
}